.footer {
  background-color: #fcf5e5;
  height: 136px;
  margin-top: -136px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  opacity: 0.7;
  font-weight: 400;
}
