.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px #21212140 solid;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #212121;
  opacity: 0.7;
  padding: 0;
  margin-right: auto;
  font-weight: 500;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin-left: auto;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  color: #fff;
  background-color: #212121;
  border: none;
  margin-top: auto;
}

.profile__add-button:hover {
  opacity: 0.8;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}

.profile__description {
  opacity: 0.7;
  margin: 0;
}

@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
    max-width: 413px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .profile__description {
    margin-bottom: 32px;
  }

  .profile__add-button {
    padding: 0px;
    width: 288px;
    height: 52px;
    margin: 0 auto;
  }

  .profile__edit-button {
    margin: 0;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }
}
